name: CI

on: [push]

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        run-config:
          - { scheme: 'Regions', destination: 'platform=iOS Simulator,OS=14.2,name=iPhone 12' }
          - { scheme: 'Cellar', destination: 'platform=iOS Simulator,OS=14.2,name=iPhone 12' }

    steps:
    - name: Checkout Project
      uses: actions/checkout@v1

    - name: Show the currently detailed version of Xcode for CLI
      run: xcode-select -p

    - name: Switch to Xcode 12
      run: sudo xcode-select -s /Applications/Xcode_12.2.app
      
    - name: Set known hosts on build machine
      run: for ip in $(dig @8.8.8.8 github.com +short); do ssh-keyscan github.com,$ip; ssh-keyscan $ip; done 2>/dev/null >> ~/.ssh/known_hosts
      
    - name: build Regions
      run: xcodebuild -scheme '${{ matrix.run-config['scheme'] }}' -destination '${{ matrix.run-config['destination'] }}' -showBuildTimingSummary

